<div>
<h1><%= @bucket.name %></h1>

<p><%= @bucket.description %></p>
<p>Status: <strong><%= @bucket.status %></strong></p>
<div>
   <%= @bucket.quantity %> tasks in total
    <% @bucket.tasks.each do |t| %> 
     <li><%= link_to t.name, task_path(t) %></li>
    <%end%> 
</div>
<br>
<%= link_to "New Task", new_bucket_task_path(@bucket) %>
<%= link_to "Edit", edit_bucket_path(@bucket) %>
<br><br>
<%= button_to "Delete", @bucket, method: :delete, data: { confirm: "Please confirm"} %>