<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <div>
  <% if current_user %>
   <%= link_to "New Bucket", new_bucket_path %>
   <%= link_to "All Buckets", buckets_path %>
   <%= link_to "New Task", new_task_path %>
   <%= link_to "All Tasks", tasks_path %>
   <%= link_to "My Items", user_path(current_user) %>
   <p><%= button_to "Log Out", logout_path, method: :post %></p>
  <% else %>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "Log In", login_path %>
  <%end%>
    </div>  
  </nav>
  <p><%= flash[:message] %></p>
    <%= yield %>
    

  </body>
</html>
